body{
	font-family:poppins sans-serif;
	font-size: 1 rem;
	font-weight: 400;
	line-height: 1.4;
	color: #f3f3f3;
	background: rgba(27, 27, 50, 0.8);
	margin: 0;
}
div{
	display: block;
	box-sizing: border-box;
}
.container{
	width: 100%;
	margin:3.125 rem auto 0 auto;
}
header{
	display: block;
}
.header{
	padding: 0 0.625rem;
	margin-bottom: 1.875rem;
}
h1, p{
	margin-top: 0;
	margin-bottom: 0.5rem;
}
h1{
	display: block;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.2;
}
.text-center{
	text-align: center;
}
.description{
	font-style: italic;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgb(0 0 0 /40%);
}
p{
	font-size: 1.125rem;
	display: block;
}
form{
	background: #1b1b32;
	padding: 2.5rem;
	border-radius:0.25rem;
	display:block;
	box-sizing: border-box;
	margin-top: 0em;
}
.form-group{
	margin: 0 auto 1.25rem auto;
	padding: 0.25rem;
	display: block;
	box-sizing: border-box;
}
label{
	cursor: default;
}
.form-control{
	display: block;
	width: 100%;
	height:2.375em;
	padding: 0.375rem 0.75rem;
	color:#495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, text-shadow 0.15s ease-in-out;
}
input, button, select, textarea{
	margin:0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

}
.branch .checkbox{
	display: inline-block;
	margin-right: 0.625rem;
	min-height: 1.25rem;
	min-width: 1.25rem;
}
button{
	border:none;
}
.submit-button{
	display:block;
	width: 100%;
	padding:0.75em;
	background: #37af65;
	color:inherit;
	border-radius: 2px;
	cursor:pointer;
}
.text-area{
	min-height: 120px;
	width:100%;
	padding:0.625rem;
	resize: vertical;
}